{% extends 'base.html' %}

{% block title %}Diary Closed{% endblock %}

{% block content %}
<div class="screen">
    <p>
    Hello! Sorry, the link to last week’s diary entry is no longer available. Every week you will be able to complete your diary between Thursday and Sunday. 
    </p>

    <p>
        You will receive the link to your new diary entry on Thursday and you will have time until Sunday to complete it.
    </p>

    <p>
    If you experience any technical issues or want to get in contact with the research team, please email <a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a>
    </p>

    <p>
        Thank you for participating in our project!
    </p>
</div>
{% endblock %}
