{% extends 'base.html' %}

{% block title %}Wrong Week{% endblock %}

{% block content %}
<div class="screen">
    {% if week and week > 12 %}
    There are no more diary entries to complete. Thanks for participating.
    {% elif already_answered %}
    You've already filled in this week's diary. We will send you the link to the following diary on Thursday next week.
    {% else %}
    Something went wrong finding the diary for this week
    {% endif %}
    {% csrf_token %}
</div>
{% endblock %}
