{% extends 'base.html' %}

{% block title %}Questions for Week {{ week }}{% endblock %}

{% block content %}
    {% csrf_token %}

    {% include "questions_first_screen.html" %}
    {% include "questions_inital.html" %}
    {% include "questions_three_and_four.html" %}

    <div id="screen">
        <p>Thank you for completing the diary! Your answers are very valuable to our research.</p> 

        <p>We will send you the link to the following diary on Thursday next week and you will have time until Sunday to complete it.</p>
    </div>
{% endblock %}
