{% extends 'questions_base.html' %}

{% block questions %}
    {% include "questions_first_screen.html" %}
    {% include "questions_inital.html" %}
  
    <div class="screen">
        <p>Before completing the second and final part of your diary, we have a quick question for you:</p>

        <p>How much impact do you think people like you can have in making your community a better place to live — a big impact, a moderate impact, a small impact, or no impact at all? Only one answer allowed. Allow to continue to next screen, even if no answer is given.</p>

        <input type="checkbox" id="id_impact_big" name="impact" value="big"><label for="id_impact_big">Big impact</label>
        <input type="checkbox" id="id_impact_moderate" name="impact" value="moderate"><label for="id_impact_moderate">Moderate impact</label>
        <input type="checkbox" id="id_impact_small" name="impact" value="small"><label for="id_impact_small">Small impact</label>
        <input type="checkbox" id="id_impact_none" name="impact" value="none"><label for="id_impact_none">No impact at all </label>
    </div>

    <div class="screen">
        <p>Following up from our last question, what are your thoughts about the impact ordinary people can have on their communities?</p>  
        <p>While writing your diary, consider telling us about the following:</p>
        <ul>
            <li>How much impact do you think people have on their community? Why?</li>
            <li>How much influence do you think you have on your community? Why?</li>
            <li>Can you think of any example of something you or someone you know did that had an impact on the community?</li> 
            <li>What do you think would make it easier for you to have more impact on your community?</li>
        </ul>

        <p>
            <textarea name="diary_impact"></textarea>
        </p>
    </div>
{% endblock %}
