    <div class="screen">

        <p>Before starting your diary, we would like to ask you a couple of questions.</p> 

        <div class="question">Thinking about the past 7 days, did you get a chance to… Multiple choice permitted. Allow to continue to next screen, even if no answer is given.</div>

        <div class-"answers">
            <input type="checkbox" id="id_media_paper" name="media" value="paper"><label for="id_media_paper">Read a PAPER version of a daily newspaper</label>
            <input type="checkbox" id="id_media_online" name="media" value="online"><label for="id_media_online">Read the ONLINE version of a daily newspaper</label>
            <input type="checkbox" id="id_media_local" name="media" value="local"><label for="id_media_local">Read a local newspaper or gazette</label>
            <input type="checkbox" id="id_media_tv" name="media" value="tv"><label for="id_media_tv">Watch the news or a news programme on television</label>
            <input type="checkbox" id="id_media_radio" name="media" value="radion"><label for="id_media_radio">Listen to a radio news program or any news on the radio</label>
            <input type="checkbox" id="id_media_search" name="media" value="search"><label for="id_media_search">Search for news online (e.g. by using Google, Yahoo or Bing)</label>
            <input type="checkbox" id="id_media_social" name="media" value="social"><label for="id_media_social">Access news on social networking sites (e.g. Facebook, Twitter)</label>
            <input type="checkbox" id="id_media_blog" name="media" value="blog"><label for="id_media_blog">Read news on blogs</label>
            <input type="checkbox" id="id_media_video" name="media" value="video"><label for="id_media_video">Watch or download political or news videos online (e.g. Youtube, iPlayer, 4oD)</label>
        </div>

        <div class="question">
            Thinking about different kinds of news you paid attention to in the past 7 days, which of the following topics did you follow with more interest? Tick all that apply. Multiple choice permitted. Allow to continue to next screen, even if no answer is given.
        </div>

        <div class="answers">
            <input type="checkbox" id="id_attention_international" name="attention" value="international"><label for="id_attention_international">International news</label>
            <input type="checkbox" id="id_attention_nationa" name="attention" value="nationa"><label for="id_attention_nationa">National government and politics</label>
            <input type="checkbox" id="id_attention_local" name="attention" value="local"><label for="id_attention_local">Local government and politics</label>
            <input type="checkbox" id="id_attention_community" name="attention" value="community"><label for="id_attention_community">People and events in your own community</label>
            <input type="checkbox" id="id_attention_sport" name="attention" value="sport"><label for="id_attention_sport">Sports</label>
            <input type="checkbox" id="id_attention_business" name="attention" value="business"><label for="id_attention_business">Business</label>
            <input type="checkbox" id="id_attention_science" name="attention" value="science"><label for="id_attention_science">Science and technology</label>
            <input type="checkbox" id="id_attention_entertainment" name="attention" value="entertainment"><label for="id_attention_entertainment">Entertainment news </label>
            <input type="checkbox" id="id_attention_health" name="attention" value="health"><label for="id_attention_health">Health and medicine</label>
        </div>
    </div>

    <div class="screen">
        <p>People find out about what happens in the world, the country or their local area/neighbourhood through different channels. They can read a newspaper, watch news on TV, or they can discuss with friends, family and neighbours.</p>

        <p>Please try to fill in this section of the diary telling us about your experience in the past 7 days finding out and discussing about news or stories that caught your attention or you found particularly interesting. These can be international or national news, or stories related to everyday life in your local area, including crime, local politics, services, events, people and businesses.</p>

        <p>
            Consider writing about the following details:
            <ul>
                <li>Which news or stories captured you attention?</li>
                <li>Was any of the news or stories about your local area?</li>
                <li>Where did you hear about this? Was it in the media or someone else told you? Where were you and with whom?</li> 
                <li>Did you discuss this story or this news? If yes, with whom?</li> 
                <li>Did you and the people you discussed with expressed personal opinions? Were these opinions similar or did you disagree?</li>
            </ul>
        </p>

        <textarea name="news_diary"></textarea>
    </div>
