    <div class="screen">
        <p>
        Before completing the second and final part of your diary, we have a quick question for you:
        </p>

        <p>In the past 2 weeks, have you done something to… Multiple choice permitted. Allow to continue to next screen, even if no answer is given.</p>

            <input type="checkbox" id="id_help_neighbour" name="help" value="neighbour"><label for="id_help_neighbour">…help your neighbours in any ways (e.g. by lending toolbox, collecting post for them or taking care of their pets while they were on holiday or at work)?</label>
            <input type="checkbox" id="id_help_improve" name="help" value="improve"><label for="id_help_improve">…help improve or support your local community on your own (e.g. by supporting a local business, contacting a councillor, reporting a problem or crime)</label>
            <input type="checkbox" id="id_help_solve" name="help" value="solve"><label for="id_help_solve">...help solve a problem in your community by working with fellow citizens (e.g. by taking part in neighbourhood watch, a residents’ association or cleaning parks or streets)?</label>
    </div>

    <div class="screen">
        <p>We would like to know more about the activities we just asked you about, that is helping your neighbours or your local community either alone or with other people. This could include (but is not necessarily limited to) things like minding pets or looking after a neighbour’s house while they are away, getting involved in a neighbourhood watch scheme, making a point to support local businesses or volunteering your time to help improve your local area.</p> 

        <p>While writing your diary, consider telling us about the following:</p>

        <ul>
            <li>How did you help you neighbours or try to improve your community?</li>
            <li>Is this something that you do regularly or was this the first time?</li>
            <li>How did helping your neighbours or community make you feel? Why was it important to you and what difference you feel (if any) it made to others?</li>
        </ul>

        <p>If you haven’t done any of these activities over the past couple of weeks then we are still interested in hearing from you since there are lots of reasons for this, e.g. lack of time and opportunity, there are no particular issues or problems needing to be solved. If you could take a moment and let us know why you have not been involved in any local activities in these two weeks we would be very grateful.  It might be you have been active in these types of activities at an earlier time and if so then could you tell us about what did you did and why?</p> 

        <p>
        <textarea name="local_diary"></textarea>
        </p>

        <p>
        <input type="submit">
        </p>
    </div>
