{% extends 'base.html' %}

{% block title %}Questions for Week {{ week }}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="screen">
        <p>Hello! This is the new and final entry of your weekly diary.</p>
        <p>When completing the diary, please don't worry about grammar and spelling. Just feel free to write your thoughts about the topics suggested.</p> 
        <p>We also would like to reassure you that your identity and your diary entries will remain anonymous.</p>
        <p>Thank you for your participation!</p>
    </div>

    {% include "questions_inital.html" %}

    {% include "questions_five_and_six.html" %}

    <div class="screen"
        <p>This was the last entry of you diary!</p> 

        <p>Thank you very much for taking part in this activity! Your answers were very valuable to our research.</p> 
    </div>
{% endblock %}
