     <h1>4</h1>
    <div class="screen">
        <p>Before completing the second and final part of your diary, we have a quick question for you:</p>

        <p>Thinking about the past 3 weeks, have you… Multiple choice permitted. Allow to continue to next screen, even if no answer is given.</p>

        <div class="radio"><input type="checkbox" id="id_activity_petition" name="activity" value="petition"><label for="id_activity_petition">Signed a petition in person or online?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_protest" name="activity" value="protest"><label for="id_activity_protest">Taken part in a lawful public protest/march/demonstration?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_boycott" name="activity" value="boycott"><label for="id_activity_boycott">Refused to buy or bought a certain product for political/social reasons?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_contact" name="activity" value="contact"><label for="id_activity_contact">Contacted public officials online, in person or by post (e.g. MPs, MEPs or councillors)?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_politician" name="activity" value="politician"><label for="id_activity_politician">Supported a political party or candidate (e.g. by donating money, attending meetings or volunteering)?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_voluntary" name="activity" value="voluntary"><label for="id_activity_voluntary">Supported a voluntary organisation (e.g. by donating money, attending meetings or volunteering)?</label></div>
        <div class="radio"><input type="checkbox" id="id_activity_social" name="activity" value="social"><label for="id_activity_social">Posted comments or shared contents online (e.g. through Facebook, Twitter, blogs) about social or political issues</label></div>
    </div>


     <h1>5</h1>
    <div class="screen">
        <p>We would like to know more about the activities we just asked you about, that is activities people might do to improve things or help prevent things from going wrong. Don’t worry if you haven’t done any of them in the past 3 weeks or in general. We still would like to read about your point of view.</p>

        <p>While writing your diary, consider telling us about the following:</p>

        <ul>
            <li>What did you do? What was it about?</li>
            <li>Why did you take this action? Why was it important to you?</li>
            <li>Was this the first time you took this action?</li>
            <li>Did someone ask you or convince you to take part in this activity? If yes, who?</li>
            <li>Did you try to convince other people to participate? If yes, who?</li> 
            <li>If you haven’t done any of these activities in the past 3 weeks, consider the following:</li> 
            <li>Is there any particular reason why you didn't do any of these activities in the past 3 weeks?</li> 
            <li>Have you done any of these activities in previous occasions?</li>
            <li>If yes, what did you do? Why did you take these actions?</li>
            <li>Would you consider doing it in the future?</li>
        </ul>

        <p>
            <textarea name="activity_diary"></textarea>
        </p>

        <p>
        <input type="submit">
        </p>
    </div>
