{% extends 'base.html' %}

{% block title %}Questions for Week {{ week.week }}{% endblock %}

{% block content %}
<form id="diary-form" action="{% url 'diary:record_answers' %}" method="POST">
{% csrf_token %}
<input type="hidden" name="week" value="{{ week.week }}">
{% block questions %}{% endblock %}
</form>
<script>
    has_submitted = false;
    $("#diary-form").steps({
        titleTemplate: '#title#',
        onStepChanging: function(ev, current, next) {
          return $('#diary-form').valid();
        },
        onFinishing: function(ev, current) {
            if (!has_submitted) {
                has_submitted = true;
                $('#diary-form').submit();
            }
        },
        labels: {
            current: '&gt;'
        }
    }).validate();

    $('input[type="submit"]').hide();
</script>
{% endblock %}
