{% extends 'questions_base.html' %}

{% block questions %}
    <h1>1</h1>
    <div class="screen">
        <p>
            Thank you for agreeing to keep a diary! This is the first entry of your weekly diary.
        </p>

        <p>
            When completing the diary, please don't worry about grammar and spelling. Just feel free to write your thoughts about the topics suggested. 
        </p>

        <p>
            We also would like to reassure you that your identity and your diary entries will remain anonymous.
        </p>

        <p>
            Thank you for your participation!
        </p>
    </div>

    {% include "questions_initial.html" %}

    {% include "questions_three_and_four.html" %}
{% endblock %}
