{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="screen">
    <form method="POST" action="{% url 'diary:register' id token %}">
    <p>
    To register and create your diary, please enter your name:
    </p>

    <div class="radio">
        {{ form.name.errors }}
        <label for="id_name">Name</label>: {{ form.name }}
    </div>

    <p>
    By clicking here, I agree to take part in this project and declare that I have read and understood the <a href="{% url 'diary:participant_info' %}">participant information sheet</a>; I understand that my taking part is voluntary; I can withdraw from the study at any time and I will not be asked any questions about why I no longer want to take part; I understand that my personal details such as name or email address will not be revealed to people outside the project and that my words may be quoted anonymously in publications, reports, web pages, and other research outputs; I understand that the data I have provided may be archived at the <a href="http://www.data-archive.ac.uk/">UK Data Archive</a>, an independent officially recognised database where universities deposit data gathered using public funds. All such data will be anonymised and not allow for identification of individuals.             
    </p>

    <div class="radio">
        {{ form.agree.errors }}
        {{ form.agree }}
        <label for="id_agree">I agree</label>
    </div>

    <p>
        <input type="submit" value="Register">
    </p>
    {% csrf_token %}
    </form>
</div>
{% endblock %}
