<!DOCTYPE html>
<html>

    <head>
        <title>{% block fulltitle %}{% block title %}{% endblock %} :: mySociety Survey{% endblock %}</title>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="{% static "css/app.css" %}">
        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
    </head>

    <body>
        {% if settings.DEBUG %}
        <div id="alert-box--header">This is a staging site &ndash; any data saved here <strong>may be deleted</strong>.</div>
        {% endif %}

        <div class="ms-header">
            <nav class="ms-header__row">
                <a class="ms-header__logo" href="http://www.mysociety.org">mySociety</a>
            </nav>
        </div>

        <header class="brand-header">
            <div class="brand-header__row">
                <div class="brand-header__title-unit">
                    <h1 class="brand-header__title">Survey</h1>
                </div>
            </div>
        </header>

        <div class="full-page">
            <div class="full-page__row">
                <div class="full-page__unit">
                <div class="page-wrapper">
                    {% block content %}
                    {% endblock %}
                </div>
                </div>
            </div>
        </div>

    </body>
</html>
