{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="screen">
        <p>
            Contact the research team by emailing {{ settings.CONTACT_EMAIL }}
        </p>

        <p>
            If there are any issues regarding this research that you prefer not to discuss with members of the research team, please contact the Research Practice and Governance Co-ordinator by either writing to 
        </p>

        <address>The Research Practice and Governance Co-ordinator, Research Office, Christie Building, University of Manchester, Oxford Rd., Manchester M13 9PL</address>

        <p>or by emailing: <a href="mailto:Research-Governance@manchester.ac.uk">Research-Governance@manchester.ac.uk</a></p>

        <p>or by telephoning 0161 275 7583 or 0161 275 8093</p>
    </div>
{% endblock %}
