{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="screen">
        <p>
            Contact the research team by emailing <a href="mailto:{{ settings.CONTACT_EMAIL }}">{{ settings.CONTACT_EMAIL }}</a>
        </p>

        <p>
            If there are any issues regarding this research that you prefer not to discuss with members of the research team, please contact the Research Practice and Governance Co-ordinator by either writing to 
        </p>

        <address>The Research Practice and Governance Co-ordinator, Research Office, Christie Building, University of Manchester, Oxford Rd., Manchester M13 9PL</address>

        <p>or by emailing: <a href="mailto:research.complaints@manchester.ac.uk">research.complaints@manchester.ac.uk</a></p>

        <p>or by telephoning 0161 275 7583 or 0161 275 8093</p>
    </div>

    <div class="actions clearfix back">
        <ul role="menu" aria-label="Pagination">
            <li aria-hidden="false" aria-disabled="false">
            <a href="#next" onclick="window.history.back(); return false;" role="menuitem">Back</a>
            </li>
        </ul>
    </div>
{% endblock %}
