
{% extends 'base.html' %}

{% block title %}Terms and Conditions{% endblock %}

{% block content %}
<div class="screen">
    <h1>
        Terms and Conditions of the Management of Project Data
    </h1>

    <p>
        All responses to the survey will be anonymized in any research outputs produced from the study. The data will be securely stored by mySociety and may be archived by the sponsors of the study, the Economic and Social Research Council (ESRC) after the project ends, if they consider it to have value for future studies of this type of online participation. Any archived data would be anonymised and not allow for identification of individuals. We will not capture or archive any of your twitter data in our project database but it may be useful to have your twitter id so that we can better understand the types of issues and groups/people that you are interested in/follow. 
    </p>

    <dl>
        <dt>How is confidentiality maintained?</dt>
        <dd>You will be assigned a unique id number in the survey data and this will be used to identify you by researchers in the analysis. No direct reference to you by your real name will be made in either data set. Any quoted material will be anonymised prior to publication and any directly or personally identifiable quoted material will be reproduced only with your written permission, including any tweets.</dd>

        <dt>What happens if I do not want to take part of if I change my mind?</dt>
        <dd>Your participation in the research is entirely voluntary and you are free to withdraw at any point without providing a reason and without detriment to yourself. At your request any information you have supplied to that point will be deleted/destroyed and will not be used to inform the research.</dd> 

        <dt>Will I be paid for participating in the research?</dt>
        <dd>There will be no financial payment/compensation offered for your participation in the research.</dd>

        <dt>What is the duration of the research?</dt>
        <dd>This survey should take around 10-15 minutes to complete.</dd>

        <dt>Where will the research be conducted?</dt>
        <dd>The survey can be completed at a venue of your preference. You will need an internet connection and a device to access the web.</dd>  

        <dt>Will the outcomes of the research be published?</dt>
        <dd>The results of the research will be published in a report for mySociety that will be available to download online and in a range of peer reviewed journals. Short reports on key findings may also be published on the mySociety website and occasional pieces written for the popular press.</dd> 
    </dl>
</div>

    <div class="actions clearfix back">
        <ul role="menu" aria-label="Pagination">
            <li aria-hidden="false" aria-disabled="false">
            <a href="#next" onclick="window.history.back(); return false;" role="menuitem">Back</a>
            </li>
        </ul>
    </div>
{% endblock %}
