{% extends 'base.html' %}

{% block title %}Survey{% endblock %}

{% block content %}
<form action="/record" method="POST">
    <div class="screen">
        <p>
            This survey is conducted by researchers at the University of Manchester with mySociety as part of a project examining how and why citizens use websites like {{ site_name }}. The main goal is to improve the users’ experience and to help researchers understand whether {{ site_name }} offers a new way for people to become involved in their communities and in politics. The survey shouldn’t take more than 10-15 minutes to be completed. 
        </p>

        <p>
            Your individual responses will not be reported as part of
            the overall findings and never used in a way that could
            identify you. Further details of how we will manage the data
            we collect from the project and use it are set out in the  
            <a href="{% url 'survey:management' %}">Management of Project data</a>.
        </p>

        <p>
            Thank you in advance for your time. 
        </p>

        <p>
            Yours sincerely, 
        </p>

        <p>
            Professor Rachel Gibson (Director, Institute for Social Change, University of Manchester)<br>
            Tom Steinberg (Director, mySociety)
        </p>
    </div>

    <div class="screen">
        <p>
            I agree to participate in this survey and to my data being
            used according to the terms &amp; conditions set out in the
            <a href="{% url 'survey:management' %}">Management of Project Data</a>. 
        </p>

        <div class="radio">
            <input type="radio" id="permission-yes" name="permission" value="Yes"><label for="permission-yes">Yes</label>
        </div>
        <div class="radio">
            <input type="radio" id="permission-no" name="permission" value="No"><label for="permission-no">No</label>
        </div>

        <p>
            <a href="{% url 'survey:contact' %}">Contact details</a>
        </p>

        <p>
            Project funded by:               
        </p>
    </div>

    <div class="screen">
        <div class="question">
            1.  Where did you hear about {{ site_name }}? Please tick all that apply. 
        </div>

Allow for multiple choices (except option F - don’t know/can’t remember – this is exclusive. I.e. if people tick option F, no other choice is allowed). Allow to continue to next screen even if NO box is ticked

        <div class="answers">
            <div class="radio">
                <input type="checkbox" id="a1a" name="1" value="a"><label for="a1a">TV/Radio</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a1b" name="1" value="b"><label for="a1b">Newspaper</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a1c" name="1" value="c"><label for="a1c">Internet (Facebook, Twitter, email, other website)</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a1d" name="1" value="d"><label for="a1d">Through a family member/friend</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a1e" name="1"
                value="e"><label for="a1e">Other (please specify)</label><input type="text" name="a1other">
            </div>
            <div class="radio">
                <input type="checkbox" id="a1f" name="1" value="f"><label for="a1f">Don't know/Can’t remember</label>
            </div>
        </div>
    </div>


    <div class="screen">
        <div class="question">
        2.  How much interest do you generally have in what is going on in politics?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a2a" name="2" value="a"><label for="a2a">A great deal </label>
            </div>
            <div class="radio">
                <input type="radio" id="a2b" name="2" value="b"><label for="a2b">Quite a lot</label>
            </div>
            <div class="radio">
                <input type="radio" id="a2c" name="2" value="c"><label for="a2c">Not much interest</label>
            </div>
            <div class="radio">
                <input type="radio" id="a2d" name="2" value="d"><label for="a2d">No interest at all</label>
            </div>
        </div>
    </div>


    <div class="screen">
        <div class="question">
    3.  Generally speaking, how complicated, if at all, would you say you find politics? Please answer on a 0 to 10 scale, where 0 means 'not at all complicated' and 10 means 'extremely complicated'?
        </div>
        <div class="answers">

            <p>
                Not at all complicated
                <span class="range-radio"><input type="radio" id="a30" name="3" value="0"><label for="a30">0</label></span>
                <span class="range-radio"><input type="radio" id="a31" name="3" value="1"><label for="a31">1</label></span>
                <span class="range-radio"><input type="radio" id="a32" name="3" value="2"><label for="a32">2</label></span>
                <span class="range-radio"><input type="radio" id="a33" name="3" value="3"><label for="a33">3</label></span>
                <span class="range-radio"><input type="radio" id="a34" name="3" value="4"><label for="a34">4</label></span>
                <span class="range-radio"><input type="radio" id="a35" name="3" value="5"><label for="a35">5</label></span>
                <span class="range-radio"><input type="radio" id="a36" name="3" value="6"><label for="a36">6</label></span>
                <span class="range-radio"><input type="radio" id="a37" name="3" value="7"><label for="a37">7</label></span>
                <span class="range-radio"><input type="radio" id="a38" name="3" value="8"><label for="a38">8</label></span>
                <span class="range-radio"><input type="radio" id="a39" name="3" value="9"><label for="a39">9</label></span>
                <span class="range-radio"><input type="radio" id="a310" name="3" value="10"><label for="a310">10</label></span>
                extremely complicated
            </p>

        </div>
    </div>


    <div class="screen">
        <div class="question">
        4.  On a scale from 0 to 10 where 10 means a great deal of influence and 0 means no influence, how much influence would you say you have on politics and public affairs?
        </div>
        <div class="answers">

            <p>
                No influence
                <span class="range-radio"><input type="radio" id="a40" name="4" value="0"><label for="a40">0</label></span>
                <span class="range-radio"><input type="radio" id="a41" name="4" value="1"><label for="a41">1</label></span>
                <span class="range-radio"><input type="radio" id="a42" name="4" value="2"><label for="a42">2</label></span>
                <span class="range-radio"><input type="radio" id="a43" name="4" value="3"><label for="a43">3</label></span>
                <span class="range-radio"><input type="radio" id="a44" name="4" value="4"><label for="a44">4</label></span>
                <span class="range-radio"><input type="radio" id="a45" name="4" value="5"><label for="a45">5</label></span>
                <span class="range-radio"><input type="radio" id="a46" name="4" value="6"><label for="a46">6</label></span>
                <span class="range-radio"><input type="radio" id="a47" name="4" value="7"><label for="a47">7</label></span>
                <span class="range-radio"><input type="radio" id="a48" name="4" value="8"><label for="a48">8</label></span>
                <span class="range-radio"><input type="radio" id="a49" name="4" value="9"><label for="a49">9</label></span>
                <span class="range-radio"><input type="radio" id="a410" name="4" value="10"><label for="a410">10</label></span>
                a great deal of influence
            </p>
        </div>
    </div>


    <div class="screen">
        <div class="question">
            5.  Some people say that politicians in Britain care what ordinary people think. Others say that political parties in Britain don't care what ordinary people think. Using the scale below, (where 1 means that political parties care about what ordinary people think, and 5 means that they don't care what ordinary people think), where would you place yourself?
        </div>

        <p>
            Parties care about what ordinary people think
            <span class="range-radio"><input type="radio" id="a51" name="5" value="1"><label for="a51">1</label></span>
            <span class="range-radio"><input type="radio" id="a52" name="5" value="2"><label for="a52">2</label></span>
            <span class="range-radio"><input type="radio" id="a53" name="5" value="3"><label for="a53">3</label></span>
            <span class="range-radio"><input type="radio" id="a54" name="5" value="4"><label for="a54">4</label></span>
            <span class="range-radio"><input type="radio" id="a55" name="5" value="5"><label for="a54">5</label></span>
            Parties don't care what ordinary people think
        </p>
    </div>


    <div class="screen">
        <div class="question">
6.  In general, do you think of yourself as a little closer to one of the parties than the others? If yes, please can you tell us which party?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a6a" name="6" value="a"><label for="a6a">Labour</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6b" name="6" value="b"><label for="a6b">Conservatives</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6c" name="6" value="c"><label for="a6c">Liberal Democrats</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6d" name="6" value="d"><label for="a6d">Scottish National Party (SNP)</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6e" name="6" value="e"><label for="a6e">Plaid Cymru</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6f" name="6" value="f"><label for="a6f">Green Party</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6g" name="6" value="g"><label for="a6g">United Kingdom Independence Party (UKIP)</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6h" name="6" value="h"><label for="a6h">British National Party (BNP)</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6i" name="6" value="i"><label for="a6i">Another party</label>
            </div>
            <div class="radio">
                <input type="radio" id="a6j" name="6" value="j"><label for="a6j">None/No</label>
            </div>
        </div>
    </div>


    <div class="screen">
        <div class="question">
7.  How satisfied or dissatisfied are you with…
        </div>
        <div class="answers">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Very satisfied</th>
                        <th>Fairly satisfied</th>
                        <th>Neither/not</th>
                        <th>Fairly dissatisfied</th>
                        <th>Very dissatisfied</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        …the way the British government is doing its job?
                    </td>
                    <td class="centered"><input type="radio" name="7government" value="a"></td>
                    <td class="centered"><input type="radio" name="7government" value="b"></td>
                    <td class="centered"><input type="radio" name="7government" value="c"></td>
                    <td class="centered"><input type="radio" name="7government" value="d"></td>
                    <td class="centered"><input type="radio" name="7government" value="e"></td>
                </tr>
                <tr>
                    <td>
                        …the way your local council is doing its job?
                    </td>
                    <td class="centered"><input type="radio" name="7council" value="a"></td>
                    <td class="centered"><input type="radio" name="7council" value="b"></td>
                    <td class="centered"><input type="radio" name="7council" value="c"></td>
                    <td class="centered"><input type="radio" name="7council" value="d"></td>
                    <td class="centered"><input type="radio" name="7council" value="e"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="screen">
        <div class="question">
8.  Generally speaking, do you believe that most people can be trusted or can’t you be too careful in dealing with people?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a8a" name="8" value="a"><label for="a8a">You can’t be too careful in dealing with people</label>
            </div>
            <div class="radio">
                <input type="radio" id="a8b" name="8" value="b"><label for="a8b">Most people can be trusted</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
9.  There are different ways of trying to improve things in this country or help prevent things from going wrong. Have you ever done or have you considered doing any of the following?
        </div>
        <div class="answers">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Have done</th>
                        <th>Considered doing</th>
                        <th>Have not done/considered doing</th>
                    </tr>
                </thead>
                <tr>
                    <td>Created or signed a petition in paper or online</td>
                    <td class="centered"><input type="radio" name="9petition" value="a"></td>
                    <td class="centered"><input type="radio" name="9petition" value="b"></td>
                    <td class="centered"><input type="radio" name="9petition" value="c"></td>
                </tr>
                <tr>
                    <td>Taken part in a lawful public protest/march/demonstration</td>
                    <td class="centered"><input type="radio" name="9march" value="a"></td>
                    <td class="centered"><input type="radio" name="9march" value="b"></td>
                    <td class="centered"><input type="radio" name="9march" value="c"></td>
                </tr>
                <tr>
                    <td>Refused to buy a product for political/social reasons</td>
                    <td class="centered"><input type="radio" name="9refused" value="a"></td>
                    <td class="centered"><input type="radio" name="9refused" value="b"></td>
                    <td class="centered"><input type="radio" name="9refused" value="c"></td>
                </tr>
                <tr>
                    <td>Bought a certain product for political/social reasons</td>
                    <td class="centered"><input type="radio" name="9bought" value="a"></td>
                    <td class="centered"><input type="radio" name="9bought" value="b"></td>
                    <td class="centered"><input type="radio" name="9bought" value="c"></td>
                </tr>
            </table>
        </div>
    </div>


    <div class="screen">
        <div class="question">
10. Have you ever contacted a public official or politician using a mySociety website to express your opinion or ask for assistance...
        </div>

        <div class="answers">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Yes, more than once</th>
                        <th>Yes, once</th>
                        <th>No, but I have considered it</th>
                        <th>No, I have not done/considered it</th>
                    </tr>
                </thead>
                <tr>
                    <td>About an issue or problem affection your local community</td>
                    <td class="centered"><input type="radio" name="10community" value="a"></td>
                    <td class="centered"><input type="radio" name="10community" value="b"></td>
                    <td class="centered"><input type="radio" name="10community" value="c"></td>
                    <td class="centered"><input type="radio" name="10community" value="d"></td>
                </tr>
                <tr>
                    <td>About other issues of problems affecting the country as a whole</td>
                    <td class="centered"><input type="radio" name="10country" value="a"></td>
                    <td class="centered"><input type="radio" name="10country" value="b"></td>
                    <td class="centered"><input type="radio" name="10country" value="c"></td>
                    <td class="centered"><input type="radio" name="10country" value="d"></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="screen">
        <div class="question">
11. And more generally, outside of your use of any of the mySociety websites, have you ever contacted a public official or politician by email, by post or in person to express your opinion or ask for assistance about...
        </div>

        <div class="answers">
            <div class="radio">
                <input type="radio" id="a11a" name="11" value="a"><label for="a11a">An issue or problem affecting your local community?</label>
            </div>
            <div class="radio">
                <input type="radio" id="a11b" name="11" value="b"><label for="a11b">Other issues or problems affecting the country as a whole?</label>
            </div>
            <div class="radio">
                <input type="radio" id="a11c" name="11" value="c"><label for="a11c">Don’t know/Can’t remember</label>
            </div>
        </div>
    </div>


    <div class="screen">
        <div class="question">
            12. Not including the times you have contacted public officials and politicians, have you ever used social networking sites (e.g. Facebook, Twitter), blogs or the email to share your own comments or promote content produced by others about … Multiple choice permitted for options A and B, but option C is exclusive. So people can tick both option A and B, but if they tick option C, no other option can be ticked. Allow to continue to next screen even if NO box is ticked
        </div>

        <div class="answers">
            <div class="radio">
                <input type="radio" id="a12a" name="12" value="a"><label for="a12a">A social issue or problem affecting your local community?</label>
            </div>
            <div class="radio">
                <input type="radio" id="a12b" name="12" value="b"><label for="a12b">Other social issues or problems affecting the country as a whole?</label>
            </div>
            <div class="radio">
                <input type="radio" id="a12c" name="12" value="c"><label for="a12c">Don’t know/Can’t remember</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            13. Some people don't vote nowadays for one reason or another. Did you vote in the last British general election in May 2010?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a13a" name="13" value="a"><label for="a13a">Yes</label>
            </div>
            <div class="radio">
                <input type="radio" id="a13b" name="13" value="b"><label for="a13b">No</label>
            </div>
            <div class="radio">
                <input type="radio" id="a13c" name="13" value="c"><label for="a13c">I wasn’t eligible to vote</label>
            </div>
            <div class="radio">
                <input type="radio" id="a13d" name="13" value="d"><label for="a13d">Don't know/Can’t remember</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            14. In the last twelve months have you been involved with any of the following ONLINE community or group (other than mySociety)? For each of them, can you tell us how you participated? Please tick as many as apply.
        </div>
        <div class="answers">

Multiple choices permitted for each row and column. Allow to continue to next screen even if NO box is ticked. 
ONLY IF respondents tick option F in at least one row, go to question 14.2 below**. If option F is NOT ticked in any row, go to the next question (question 15).

            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Browsed website or contacted group for information</th>
                        <th>Registered/ Signed up as a member, supporter or friend</th>
                        <th>Joined a discussion forum or chat room</th>
                        <th>Attended ‘real world’ events, meet-ups or gatherings </th>
                        <th>Helped promote the organisation on the internet (e.g. posted or forwarded a link, message or other material about the group)</th>
                        <th>Other (e.g. donated money)</th>
                    </tr>
                </thead>
                <tr>
                    <td>Online political organisation or activist group (e.g. 38 Degrees, MoveOn.org, political group on Facebook).</td>
                    <td class="centered"><input type="checkbox" name="14political" value="a"></td>
                    <td class="centered"><input type="checkbox" name="14political" value="b"></td>
                    <td class="centered"><input type="checkbox" name="14political" value="c"></td>
                    <td class="centered"><input type="checkbox" name="14political" value="d"></td>
                    <td class="centered"><input type="checkbox" name="14political" value="e"></td>
                    <td class="centered"><input type="checkbox" name="14political" value="f"></td>
                </tr>
                <tr>
                    <td>Online community or group related to health, your hobbies, social or personal interests (e.g. a parenting site like Mumsnet.org, Cancerchat.org or an online craft/DIY/sporting group,)</td>
                    <td class="centered"><input type="checkbox" name="14community" value="a"></td>
                    <td class="centered"><input type="checkbox" name="14community" value="b"></td>
                    <td class="centered"><input type="checkbox" name="14community" value="c"></td>
                    <td class="centered"><input type="checkbox" name="14community" value="d"></td>
                    <td class="centered"><input type="checkbox" name="14community" value="e"></td>
                    <td class="centered"><input type="checkbox" name="14community" value="f"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="screen">
        <div class="question">

**QUESTION 14.2 (only if option F ticked in at least one row)
You said you have been involved in online communities/groups in other ways than those listed in the previous question. Can you tell us how? [space for answers]

        </div>
    </div>

    <div class="screen">
        <div class="question">
            15. The groups we just asked about in the last question operate almost entirely or fully on the internet. Beyond these online-based groups we are interested to know if you have been involved with any other more traditionally run types of community or political organisations over the past twelve months. For each of them, can you say how you participated? Please tick as many as apply.
        </div>

        <div class="answers">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Requested or looked for information about the organisation online or in person </th>
                        <th>Became a member / renewed membership or donated money</th>
                        <th>Attended events/ meetings/ service</th>
                        <th> d. Volunteered (e.g. helped organising activities or fundraising)</th>
                    </tr>
                </thead>
                <tr>
                    <td>Political party</td>
                    <td class="centered"><input type="checkbox" name="15party" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15party" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15party" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15party" value="d"></td>
                </tr>
                <tr>
                    <td>Trade union</td>
                    <td class="centered"><input type="checkbox" name="15union" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15union" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15union" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15union" value="d"></td>
                </tr>
                <tr>
                    <td>Local charities and community welfare organisations</td>
                    <td class="centered"><input type="checkbox" name="15local" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15local" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15local" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15local" value="d"></td>
                </tr>
                <tr>
                    <td>NGOs and other environmental or humanitarian aid organisations</td>
                    <td class="centered"><input type="checkbox" name="15ngo" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15ngo" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15ngo" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15ngo" value="d"></td>
                </tr>
                <tr>
                    <td>Religious groups or church organisations</td>
                    <td class="centered"><input type="checkbox" name="15religious" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15religious" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15religious" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15religious" value="d"></td>
                </tr>
                <tr>
                    <td>Hobby/Recreational/Art/Sports clubs or societies (e.g. gym club, social club)</td>
                    <td class="centered"><input type="checkbox" name="15hobby" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15hobby" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15hobby" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15hobby" value="d"></td>
                </tr>
                <tr>
                    <td>Health/weight control/ disability support groups or self-help programmes (e.g. Weightwatchers)</td>
                    <td class="centered"><input type="checkbox" name="15health" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15health" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15health" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15health" value="d"></td>
                </tr>
                <tr>
                    <td>Other community or civic groups</td>
                    <td class="centered"><input type="checkbox" name="15other" value="a"></td>
                    <td class="centered"><input type="checkbox" name="15other" value="b"></td>
                    <td class="centered"><input type="checkbox" name="15other" value="c"></td>
                    <td class="centered"><input type="checkbox" name="15other" value="d"></td>
                </tr>
            </table>


        </div>
    </div>


    <div class="screen">
        <div class="question">
            16. How frequently do you discuss social and political issues or problems affecting your local community or area with family, friends or neighbours?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a16a" name="16" value="a"><label for="a16a">Every day</label>
            </div>
            <div class="radio">
                <input type="radio" id="a16b" name="16" value="b"><label for="a16b">Several times a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a16c" name="16" value="c"><label for="a16c">Once or twice a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a16d" name="16" value="d"><label for="a16d">Less often</label>
            </div>
            <div class="radio">
                <input type="radio" id="a16e" name="16" value="e"><label for="a16e">Never</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            17. And more generally, how frequently do you discuss about national/international politics and current affairs with family, friends or neighbours?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a17a" name="17" value="a"><label for="a17a">Every day</label>
            </div>
            <div class="radio">
                <input type="radio" id="a17b" name="17" value="b"><label for="a17b">Several times a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a17c" name="17" value="c"><label for="a17c">Once or twice a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a17d" name="17" value="d"><label for="a17d">Less often</label>
            </div>
            <div class="radio">
                <input type="radio" id="a17e" name="17" value="e"><label for="a17e">Never</label>
            </div>

        </div>
    </div>
    <div class="screen">
        <div class="question">
            18. People learn what is going on in this country and the world from various sources (e.g. TV, radio, internet, newspapers, or magazines). How often, if at all, do you get information about news and current political affairs?
        </div>

        <div class="answers">
            <div class="radio">
                <input type="radio" id="a18a" name="18" value="a"><label for="a18a">Every day</label>
            </div>
            <div class="radio">
                <input type="radio" id="a18b" name="18" value="b"><label for="a18b">Several times a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a18c" name="18" value="c"><label for="a18c">Once or twice a week</label>
            </div>
            <div class="radio">
                <input type="radio" id="a18d" name="18" value="d"><label for="a18d">Less often</label>
            </div>
            <div class="radio">
                <input type="radio" id="a18e" name="18" value="e"><label for="a18e">Never</label>
            </div>
        </div>
    </div>
    <div class="screen">
        <div class="question">
            19. What was your age last birthday? Please enter a 2-digit number (e.g. 18).
        </div>

        <div class="answers">
            <input type="number">
        </div>
    </div>

    <div class="screen">
        <div class="question">
            20.  And are you…
        </div>

        <div class="answers">
            <div class="radio">
                <input type="radio" id="a20a" name="20" value="a"><label for="a20a">female </label>
            </div>
            <div class="radio">
                <input type="radio" id="a20b" name="20" value="b"><label for="a20b">male </label>
            </div>
            <div class="radio">
                <input type="radio" id="a20c" name="20" value="c"><label for="a20c">don't want to answer </label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            21. What is the last type of educational institution (e.g. school, college or university) that you have attended or which type of educational institution are you attending now?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a21a" name="21" value="a"><label for="a21a">Primary school or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21b" name="21" value="b"><label for="a21b">Secondary school or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21c" name="21" value="c"><label for="a21c">Special school or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21d" name="21" value="d"><label for="a21d">Sixth form college or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21e" name="21" value="e"><label for="a21e">Technical college or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21f" name="21" value="f"><label for="a21f">Further Education College </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21g" name="21" value="g"><label for="a21g">Adult Community College </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21h" name="21" value="h"><label for="a21h">University or equivalent </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21i" name="21" value="i"><label for="a21i">other </label>
            </div>
            <div class="radio">
                <input type="radio" id="a21j" name="21" value="j"><label for="a21j">don't want to answer </label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            22. Which of these descriptions best describes your current situation?
        </div>

        <div class="answers">
            <div class="radio">
                <input type="radio" id="a22a" name="22" value="a"><label for="a22a">working full time (30 hours a week or more) </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22b" name="22" value="b"><label for="a22b">working part time (8-29 hours a week) </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22c" name="22" value="c"><label for="a22c">retired </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22d" name="22" value="d"><label for="a22d">unemployed </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22e" name="22" value="e"><label for="a22e">permanently sick or disabled </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22f" name="22" value="f"><label for="a22f">in community or military service </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22g" name="22" value="g"><label for="a22g">undergraduate student </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22h" name="22" value="h"><label for="a22h">postgraduate student </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22i" name="22" value="i"><label for="a22i">in full time education (not degree or higher) </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22j" name="22" value="j"><label for="a22j">in part time education (not degree or higher) </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22k" name="22" value="k"><label for="a22k">doing housework, looking after children or other persons </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22l" name="22" value="l"><label for="a22l">none of the above </label>
            </div>
            <div class="radio">
                <input type="radio" id="a22m" name="22" value="m"><label for="a22m">don't want to answer </label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
            23. The incomes of households differ a lot in Britain today. Which figures best represent the total income of your household before tax?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a23a" name="23" value="a"><label for="a22a">up to £12,500 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23b" name="23" value="b"><label for="a23b">£12,501 to £25,000 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23c" name="23" value="c"><label for="a23c">£25,001 to £37,500 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23d" name="23" value="d"><label for="a23d">£37,501 to £50,000 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23e" name="23" value="e"><label for="a23e">£50,001 to £75,000 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23f" name="23" value="f"><label for="a23f">£75,001 to £100,000 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23g" name="23" value="g"><label for="a23g">more than £100,000 </label>
            </div>
            <div class="radio">
                <input type="radio" id="a23h" name="23" value="h"><label for="a23h">don't want to answer </label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
24. To which one of these ethnic groups do you consider you belong? One choice only permitted. Allow to continue to next screen even if NO box is ticked
        </div>
        <div class="answers">
            <dl>
                <dt>White</dt>
                <dd>
                    <div class="radio">
                        <input type="radio" name="24" value="British"><label>British</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="English"><label>English</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Welsh"><label>Welsh</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Scottish"><label>Scottish</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Irish"><label>Irish</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Other white"><label>Other white</label>
                    </div>
                </dd>
                <dt>Mixed</dt>
                <dd>
                    <div class="radio">
                        <input type="radio" name="24" value="White and Black Caribbean"><label>White and Black Caribbean</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="White and Black African"><label>White and Black African</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="White and Asian"><label>White and Asian</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Other Mixed"><label>Other Mixed</label>
                    </div>
                </dd>
                <dt>Asian or Asian British</dt>
                <dd>
                    <div class="radio">
                        <input type="radio" name="24" value="Indian"><label>Indian</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Pakistani"><label>Pakistani</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Bangladeshi"><label>Bangladeshi</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Other Asian"><label>Other Asian</label>
                    </div>
                </dd>
                <dt>Black or Black British</dt>
                <dd>
                    <div class="radio">
                        <input type="radio" name="24" value="Caribbean"><label>Caribbean</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="African"><label>African</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="24" value="Other Black"><label>Other Black</label>
                    </div>
                </dd>
            </dl>
            <div class="radio">
                <input type="radio" name="24"><label>Chinese</label>
            </div>
            <div class="radio">
                <input type="radio" name="24"><label>any other ethic group</label>
            </div>
            <div class="radio">
                <input type="radio" name="24"><label>Don't know</label>
            </div>
            <div class="radio">
                <input type="radio" name="24"><label>Don't want to answer</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
25. Here is a list of tasks that can be performed on the Internet. Some people have done these tasks, while others have not. Which, if any, of these have you done? Please tick as many as apply.
        </div>
        <div class="answers">
            <div class="radio">
                <input type="checkbox" id="a25a" name="25" value="a"><label for="a25a">Wrote a blog post</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25b" name="25" value="b"><label for="a25b">Purchased a product or service on a website</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25c" name="25" value="c"><label for="a25c">Logged onto a social networking site (e.g. Facebook, Twitter, Google+)</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25d" name="25" value="d"><label for="a25d">Posted a comment on a social networking site (e.g. Facebook, Twitter, Google+)</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25e" name="25" value="e"><label for="a25e">Posted an audio, video, or image file to the internet </label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25f" name="25" value="f"><label for="a25f">Sent an attachment with an email</label>
            </div>
            <div class="radio">
                <input type="checkbox" id="a25g" name="25" value="g"><label for="a25g">Commented on an article or blog post</label>
            </div>
        </div>
    </div>

    <div class="screen">
        <div class="question">
26. Do you have a twitter account? If so would you be willing to provide your username to the research team?
        </div>
        <div class="answers">
            <div class="radio">
                <input type="radio" id="a26a" name="26" value="a"><label for="a26a">No</label>
            </div>
            <div class="radio">
                <input type="radio" id="a26b" name="26" value="b"><label for="a26b">Yes, but I’d rather not give you my username</label>
            </div>
            <div class="radio">
                <input type="radio" id="a26c" name="26" value="c"><label for="a26c">Yes,</label> and my username is @<input type="text" name="twitter_name" maxlength="20">
            </div>

            <p>
                Privacy note: Your twitter account is requested simply so that we can better understand your use of social media on a daily basis and your interests and activities outside of the scope of the survey that may affect how you perceive/use the {{ site_name }}. Your username will not be disclosed to any party outside of the research team and will not be used in any manner that could identify you in any outputs of the project.
            </p>
        </div>
    </div>

    <div class="screen">
        <p>Thank you very much for completing this survey! Your answers are very valuable to our research.</p> 
        <p>As well as your use of {{ site_name }}, we would like to know more about your experiences of using the web in your daily life. To do this, we might contact you again to ask you to complete another survey and/or to get involved in other online activities (e.g. take part in an online discussion forum, fill an online diary) about some of the topics covered in this survey.</p> 

        <p>
        If you would like to be contacted by our research team again, please, leave your email address in the box below.
        </p>

        <p>
            <input type="text" name="email">
        </p>

        <input type="hidden" name="site" value="{{ site_code }}">
        <input type="hidden" name="source" value="{{ source }}">
        {% csrf_token %}
        <p>
        <input type="submit">
        </p>
    </div>
</form>
{% endblock %}
