// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
//@import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
@import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
/*@import "foundation/components/dropdown-buttons"; // *requires components/buttons*/
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
/*@import "foundation/components/alert-boxes";*/
/*@import "foundation/components/breadcrumbs";*/
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
 @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
/*@import "foundation/components/dropdown";*/

@import "compass/css3";
@import "sayit-mixins";

html,
body {
    height: 100%;
    background: $body-bg;
    color: $body-font-color;
}

strong, b {
    font-weight: $weight_bold;
}

.full-page {
    background: #fff;
    color: #222;
}

/* Base typography */

h1 {
    letter-spacing: 0.02em;
}

h2,
h3 {
    font-weight: $weight_bold;
}

h2 {
    font-size: 1.33em; /* Having to declare this here as Foundation is mkaing it too small, can't work out why or how */
    @media (min-width: $medium-screen) {
        font-size: 1.5em;
    }
}

.body-text {
    font-size: emCalc(15);
}

.skinny-type {
    font-weight: $weight_light;
}

.centered {
    text-align: center;
}

.pull-right {
     @media (min-width: $medium-screen) {
        float: right;
        margin-left: 1em;
    }
}
.pull-left {
     @media (min-width: $medium-screen) {
        float: left;
        margin-left: 1em;
    }
}

ul {
    margin-left: 1.2em;
}

pre {
    padding: 1em;
    background: $colour_off_white;
    border: 1px solid $colour_light_grey;
    line-height: 1.5em;
    margin-bottom: 1em;
    @include border-radius(3px);
    font-size: emCalc(14);
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    max-width: 100%;
    overflow-x: scroll;
}

a {
    overflow-wrap: break-word;
    word-wrap: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    color: $colour_primary;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: darken($colour_primary, 10%);
}

/* Buttons */
.button {
    @include box-shadow(none);
    &:hover {
        text-decoration: none;
    }
}

/* forms */
.errorlist {
    @include unstyled-list();
}

form {
    margin-bottom: 0;
}

/* Staging alert-box */
.alert-box--header {
    margin-bottom: 0;
    border: none;
}
/* mySociety header */
.ms-header {
    background: transparent;
    border-top: 4px solid #424242;
}

.ms-header__row {
    @include grid-row;
    position: relative;
}

.ms-header__logo {
    @extend .image-replacement;
    display: block;
    position: absolute;
    right: 0.75em;
    top: 0;
    background-color: #424242;
    background-repeat: no-repeat;
    height: 38px;
    width: 44px;
    @include border-radius(0 0 0.75em 0.75em);
    @include background-size(22px);
    background-position: 11px 7px ;
    @include background-size(93px 19px);
    background-image: url('../img/mysociety-logo.png');
    width: 125px;
    height: 39px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../img/mysociety-logo@2.png');
    }
}

/* Brand header */
.brand-header {
    background: $colour_black;
    a:link,
    a:visited {
        color: #fff;
    }
}

.brand-header__row {
    @include grid-row;
}

.brand-header__title-unit {
    min-width: 15em;
    float: left;
    margin-right: 2.4%;
    margin-left: 0.75em;
}

.brand-header__title {
    color: #fff;
    font-size: emCalc(24);
    font-weight: $weight_bold;
    letter-spacing: 0;
/*
    height: 1.42em; //prevents a little jump before the JS ticker fires
    @media (min-width: $medium-screen) {
        height: auto;
    }
*/
    .subtitle {
        font-size: .458333333em; /* 11px */
        @media (min-width: $medium-screen) {
            font-size: .583333333em; /* 14px */
        }

        font-weight: $weight_light;
    }
}

.brand-header__navigation {
    display: none; //temporary hide on mobile: #todo: fix on mobile
    @media (min-width: $medium-screen) {
        display: block;
    }
    float: right;
    margin-top: 0.95em;
    margin-right: 145px;
    a {
        display: inline-block;
        margin-right: 1em;
        font-size: 0.8125em;
        letter-spacing: 0.02em;
    }
}

.errorlist, .parsley-error-list {
    li {
        display: block !important;
        color: red;
    }
}

h1 {
    display: none;
}

ul[role="menu"],
ul[role="tablist"] {
    margin-top: 1em;

    li {
        margin-left: 1em;
        display: inline-block;
        list-style: none;

        .number {
            display: none;
        }
    }
}

ul[role="tablist"] {
    li {
        a {
            color: black;
        }

        &.current {
            font-weight: $weight_bold;
            a {
                color: $colour_primary;
            }
        }
    }
}

ul[role="menu"] {
    a {
        @include button;
        background-color: darken($colour_primary, 10%);
        &:hover {
            background-color: darken($colour_primary, 15%);
        }
    }
}

.actions {
    text-align: right;
}

.logos {
    text-align: center;
    img {
        padding-left: 3em;
        padding-right: 3em;
    }
}

#diary-form {
    .screen {
        .radio {
            margin-bottom: 0.75em;
            input, label {
                display: inline;
            }
        }
        textarea {
            width: 40em;
        }
    }
}

.screen {
    @include grid-column(12);
    @include panel;

    &.body {
        min-height: 28em;
    }

    .question {
        line-height: 1.6;
    }

    .answers {
        margin-top: 1em;
    }

    .radio {
        margin-bottom: 0.25em;
        padding-left: 1em;
        input, label {
            display: inline-block;
        }
        label.error {
            line-height: 1.6;
            display: block;
            margin-bottom: 0.25em;
        }
        input {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0.5em;
            .error {
                margin-bottom: 0.5em;
            }
        }
    }

    .range-radio {
        display: block;
        margin-left: 2em;

        label {
            padding-left: 1em;
            display: inline-block;
        }
        @media (min-width: $medium-screen) {
            display: inline-block;
            margin-left: 0em;
            padding-right: 1em;

            &:nth-of-type(1) {
                padding-left: 1em;
            }

            label {
                padding-left: 0em;
            }

            input {
                display: inline-block;
                margin-right: 0.5em;
            }
        }
    }

    table {
        width: 100%;
    }

    th {
        padding: 0.25em 0.5em;
        min-width: 6em;
        max-width: 10em;
    }

    tr:nth-of-type(even) {
        background-color: white;
    }

    td {
        padding: 0.5em;
        input[type="radio"] {
            margin: 0px;
        }
    }

    textarea {
        height: 10em;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        margin-left: 0.5em;
        width: 30em;
    }

    input[name='postcode'] {
        width: 6em;
    }
    input[type='number'] {
        width: 4em;
    }
}

.centered-form {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(6, $center:true);
    }
    @media (min-width: $large-screen) {
        @include grid-column(4, $center:true);
    }
}

.footer {
    a {
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            color: $colour_primary;
        }
    }
}

/* Brand footer */
.brand-footer {
    padding: 3em 0;
    color: $colour_light_grey;
    background-color: #222;
    h2 {
        color: #fff;
        font-size: emCalc(18);
        font-weight: $weight_bold;
    }
    p {
        font-size: emCalc(14);
        letter-spacing: 0.02em;
    }
}

.brand-footer__row {
    @include grid-row;
}

.about-sayit {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(3);
    }
}


.footer-links {
    @include grid-column(12);
    @include clearfix;
    @media (min-width: $medium-screen) {
        @include grid-column(5);
    }
}

.footer-links__column {
    width: 33.3333%;
    float: left;
    ul {
        @include unstyled-list;
        font-size: emCalc(14);
        margin-top: emCalc(30);
    }
}

.footer-logos {
    @include grid-column(12);
    @media (min-width: $medium-screen) {
        @include grid-column(4);
    }
}

.footer-logos__column {
    @include grid-column(6);
    margin-top: emCalc(30);
    p {
        font-size: emCalc(11);
    }
    .footer-logo {
        display: block;
        @extend .image-replacement;
        width: 93px;
        height: 19px;
        @include background-size(93px 19px);
        margin-bottom: 0.5em;
    }
    .footer-logo--mysociety {
        background-image: url('../img/mysociety-logo.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/mysociety-logo@2.png');
        }
    }
    .footer-logo--poplus {
        background-image: url('../img/poplus-logo.png');
        @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
            background-image: url('../img/poplus-logo@2.png');
        }
    }
}
